@font-face {
  font-family: "MoniqaNarrowParagraph";
  font-style: normal;
  font-display: swap;
  src: url(./../public/fonts/MoniqaNarrowParagraph.woff2) format("woff2");
}

@font-face {
  font-family: "FuturaPTBook";
  font-style: normal;
  font-display: swap;
  src: url(./../public/fonts/FuturaPTBook.woff2) format("woff2");
}

@font-face {
  font-family: "FuturaPTDemi";
  font-style: normal;
  font-display: swap;
  src: url(./../public/fonts/FuturaPTDemi.woff2) format("woff2");
}

@font-face {
  font-family: "FuturaPTMedium";
  font-style: normal;
  font-display: swap;
  src: url(./../public/fonts/FuturaPTMedium.woff2) format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  // scroll-behavior: smooth;
  // touch-action: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  // touch-action: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #171717;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #d92f2f;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0a0a0a;
    --chart-1: #e43e3e;
    --chart-2: #3a9970;
    --chart-3: #4b619b;
    --chart-4: #6ccd85;
    --chart-5: #f44336;
    --white: #ffffff;
    --gold: #b9916a;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card {
  perspective: 800px;
}
.card__content {
  transform-style: preserve-3d;
}
@media screen and (min-width: 1024px) {
  .card:hover .card__content {
    transform: rotateY(0.5turn);
  }
}

.card__front,
.card__back {
  backface-visibility: hidden;
}
.card__back {
  transform: rotateY(0.5turn);
}

.grecaptcha-badge {
  display: none !important;
}
